:root {
    --primary-color: #222;
    --secondary-color: #fff;
    --primary-bg: #f9f9f9;
    --primary-blue: yellow;
    --secondary-blue: #0056b3;
    --primary-dark: #48494b;
    --primary-blue-hover: #0056b3;
}

.darkmode {
    --primary-color: #fff;
    --secondary-color: #fff;
    --primary-bg: rgb(30, 30, 46);
    --primary-blue: rgb(17, 17, 17);
    --secondary-blue: #0056b3;
    --primary-dark: #fff;
    --primary-blue-hover: #0056b3;
}

:root {
    --guides-blue: yellow;
    --white: #ffffff;
    --guides-blue-hover: #0056b3;
    --background: #f4f4f4;
    --sidebar-text: #2f2f2f;
    --title-shadow: #e7eae5;
  
}

* {
  margin: 0;
  padding: 0;
}


.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  width: 105px;
}

span.no_selection {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.navbar {
  background: var(--guides-blue);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  z-index: 10;
  box-sizing: border-box;
  height: 60px;
}

.menu-icon,
.material-icons {
  font-size: 2rem;
  padding: 5px;
  cursor: pointer;
}

.navbar a img {
  /*height: 67px;*/
  margin-left: 25px;
  max-width: calc(100% - 16px);
  object-fit: contain;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  background-color: var(--white);
  color: var(--sidebar-text);
  overflow-y: auto;
  transition: 0.3s;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
}

.sidebar.open {
  left: 0;
}

.sidebar img {
  width: 120px;
  margin-bottom: 20px;
}

.sidebar hr {
  width: 80%;
  border: 0;
  height: 1px;
  background: var(--sidebar-text);
  margin: 20px 0;
}

.sidebar a {
  text-decoration: none;
  color: var(--sidebar-text);
  font-size: 1.2rem;
  margin: 10px 0;
  transition: 0.3s;
}

.sidebar a:hover {
  color: var(--guides-blue);
}

.sidebar-close {
  font-size: 1.5rem;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}


body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: var(--white); 
  align-items: center;
  display: flex;
  flex-direction: column;
  color: var(--guides-blue); /* Changed text color to blue */
}

.title {
  text-align: center;
  font-weight: 950;
  color: var(--guides-blue); /* Changed to blue */
  margin-bottom: 20px;
  text-shadow: 2px 2px var(--title-shadow);
  
}

.doc-container {
  max-width: 800px;
  margin: 0 auto;
  background: var(--white); /* Changed to white */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.collapsible {
  background-color: var(--guides-blue); /* Changed to blue */
  color: var(--white);
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.collapsible:hover {
  background-color: var(--guides-blue-hover);
}

.collapsible::after {
  content: '\25B6';
  font-size: 16px;
  margin-left: auto;
  transition: transform 0.3s;
}

.collapsible.active::after {
  transform: rotate(90deg);
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: var(--white); /* Changed to white */
  padding: 0 10px;
}

.content p {
  margin: 10px 0;
  color: var(--guides-blue);
}

.content.open {
  max-height: 300px;
  overflow-y: scroll;
}

.content::-webkit-scrollbar {
  width: 12px;
}

.content::-webkit-scrollbar-track {
  background: #c2c2c2;
}

.content::-webkit-scrollbar-thumb {
  background: var(--guides-blue);
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb:hover {
  background: var(--guides-blue-hover);
}

.content ul {
  margin: 0;
  padding-left: 20px;
}

.content ul li {
  margin-bottom: 5px;
}

footer {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: var(--guides-blue);
  background: var(--white);
  width: 100%;
}

.footer ul {
  list-style: none;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0px 0px 15px 0px;
}

footer b {
  color: var(--guides-blue);
}

.credits {
  background-color: var(--white);
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: var(--white);
}

.credits p {
  margin: 5px 0;
}

a.button {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background-color: var(--guides-blue);
  color: var(--white);
  text-decoration: none;
  border-radius: 5px;
}

table {
  color: var(--guides-blue);
  padding: 5px;
  border: 1px solid var(--guides-blue);
  border-collapse: separate;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  table-layout: auto;
  min-width: 600px;
  overflow: hidden;
  background-color: var(--white);
}

th,
td {
  border-bottom: 1px solid var(--guides-blue);
  padding: 10px;
  text-align: center;
}

th {
  background-color: var(--guides-blue);
  color: var(--white);
}

@media (max-width: 600px) {
  .seller-list {
    padding: 10px;
  }

  table {
    font-size: 0.9rem;
  }

  th,
  td {
    padding: 10px;
  }
}

section {
  background-color: var(--white);
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: var(--guides-blue);
  padding: 40px;
  margin: 20px 0px;
}

section a {
  color: var(--guides-blue-hover);
  text-decoration: none;
}

header {
  background-color: var(--guides-blue-hover);
  color: var(--white);
  width: 100%;
  padding: 15px;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
  color: var(--white);
  text-decoration: none;
  transition: 0.2s;
  font-size: small;
}

nav a:hover {
  color: #aaaaaa;
  text-decoration: underline;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.links {
  color: var(--guides-blue);
  text-decoration: none;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: var(--primary-bg);
    color: var(--primary-color);
    overflow-x: hidden;
    padding-bottom: calc(10px + 3rem);
}

.hero {
    flex: 1;
    direction: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--secondary-color);
    margin-top: 56px;
    padding: 20px;
    height: calc(100vh - 56px);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
}

.hero h1 {
    font-size: 3rem;
    margin-top: 90px;
    margin-bottom: 20px;
}

.hero p {
    font-family: 'Courier New', monospace;
    font-size: 1.2rem;
    margin-bottom: 30px;
}



.startButton {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid var(--primary-blue);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: var(--secondary-color);
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    z-index: 9999;
  }
  
  .startButton:hover {
    background: var(--primary-blue);
    box-shadow: 0 0 30px 5px rgba(0, 123, 2255, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .startButton:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .startButton::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: var(--secondary-color);
    box-shadow: 0 0 50px 30px var(--secondary-color);
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .startButton:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  

.cta-btn {
    background: var(--primary-blue);
    color: var(--secondary-color);
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.cta-btn:hover {
    background: var(--secondary-blue);
}

.bottom-nav {
    background: var(--primary-bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 20;
}

.bottom-nav a {
    text-decoration: none;
    color: var(--primary-dark);
    font-size: 0.8rem;
    text-align: center;
}

.bottom-nav a:hover {
    color: var(--primary-blue-hover);
}

.bottom-nav .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.bottom-nav .nav-item span {
    font-size: 1.5rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-radius: 20px;
    width: 100%;
    height: fit-content;
    margin: auto;
    background-color: var(--primary-color);
}

.card {
    position: relative;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    margin: 8px 8px;
    padding: 25px;
    min-height: 14rem;
    flex: 1 1 calc(20% - 10px);
    max-width: 70vw;
    min-width: 40vw;
    background-color: var(--primary-bg);
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 100%;
    }
}
@media (max-width: 425px) {
    .card {
        min-width: -webkit-fill-available;
    }
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
}

.card-content {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: var(--secondary-color);
    z-index: 2;
    text-align: left;
    padding: 10px;
}

.card h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.card p {
    font-size: 14px;
    margin: 5px 0;
    opacity: 0.9;
}

.card button {
    background-color: var(--primary-blue);
    color: var(--secondary-color);
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 5rem;
}

.card button:hover {
    background-color: var(--primary-blue-hover);
}

.card:hover {
    transform: none;
}

@media (max-width: 768px) {
    body {
        align-items: flex-start;
        height: auto;
        padding-bottom: calc(15px + 5rem);
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        max-width: 400px;
    }
}

footer {
    padding: 40px 0 25px 0;
}